
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
    text-align: center;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

.faq-answer {
    display: none;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact-button {
    background-color: #45a049;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.contact-button:hover {
    background-color: #00acee; 
}

#our-impact {
    padding: 3rem 10%;
    background-color: #3B3291; 
    color: white;
    text-align: center;
}

.our-impact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5rem;
}

.impact-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.stat-card {
    background-color: black;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    flex: 1 1 200px;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.stat-card h3 {
    font-size: 2rem;
    color: #37B7C3; 
    margin-bottom: 0.5rem;
}

.stat-card p {
    font-size: 1.2rem;
    color: #F5F7F8;
}

.stat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
