
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
    text-align: center;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

.faq-answer {
    display: none;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.contact-button:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}